<div class="row">
    {{#each images}}
        <pre>
            
        </pre>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex justify-center-between align-items-center  ">
                        <h4>{{title}} <a href="/" ><i class="fa fa-share-alt
"></i> </a></h4>
                        
                    </div>
                    <img class="rounded mx-auto d-block" width="100" height="auto" src="{{imageURL}}" alt="">
                    <form action="/images/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-small" >delete</button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
</div>