<div class="jumbotron mt-4">
    <h1 class="display-4">Images app</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa deserunt modi voluptates reiciendis voluptatem animi.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias provident officiis laudantium voluptas perspiciatis iusto dicta nam sint harum mollitia!</p>
    <a href="/" class="btn btn-primary">Inicio</a>
</div>